@{
    ViewBag.Title = "About";
}<!-- =========================
     SPEAKERS SECTION
 ============================== -->
<section id="speakers" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 wow bounceIn">
                <div class="section-title">
                    <h2>OUR TEAM MOTO</h2>
                    <p>Hard Work Beats Talent, When Talent Doesn't Work Hard.</p>
                </div>
            </div>

            <!-- Testimonial Owl Carousel section
            ================================================== -->
            <div id="owl-speakers" class="owl-carousel">

                <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
                    <div class="speakers-wrapper">
                        <img src="~/Content/images/speakers-img1.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Think</h3>
                            <h6>Positively</h6>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="~/Content/images/speakers-img2.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Work</h3>
                            <h6>Hard</h6>
                        </div>
                    </div>
                </div>
                <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="~/Content/images/speakers-img4.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Volunteer</h3>
                            <h6>Freely</h6>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="~/Content/images/speakers-img5.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Read</h3>
                            <h6>More</h6>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="~/Content/images/speakers-img6.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Exercise</h3>
                            <h6>Daily</h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<!-- =========================
      VENUE SECTION
  ============================== -->
<section id="venue" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">
                <h2>rreth nesh...</h2>
                <p>This is our school project.
We’ve put a lot of of hard working and  thinking in this so it could come in  handy to every person struggling with their unorganized work life.
Now your appointments will be easier and probably funnier.
No need to thank us for making your lives better. We’re just five students fulfilling the requirements of our assignment.
Many Thank You's go to our Professor for coming up with the topic of our project.</p>
                <h4>Arilda Dragjoshi</h4>
                <h4>Aurora Naska</h4>
                <h4>Eftali Mullari</h4>
                <h4>Ersila Ahmetaj</h4>
                <h4>Irta Lanka</h4>
            </div>

        </div>
    </div>
</section>